/*-- scss:defaults --*/
$carousel-transition-duration:       .6s;

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

li {
  font-family: $font-family-sans-serif;
}

/* this adjusts chunk output look */
/* use class-output: output in _metadata.yml */
.output {
  color: lighten(black,5%);
  background-color: #FFF5EE;
}
